.slider-container {
  width: 98%;
  margin: 5px auto;
}

.slider-label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.slider {
  width: 60%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#player-page {
  display: flex;
}

#player-container {
  width: 78%;
}

#player {
  width: 90%;
  margin-right: 2px;
  max-width: 100%;
  resize: both;
  height: calc(75vh);
}

#playlist-container {
  width: 20%;
  height: 700px;
  overflow-y: auto;
  padding: 5px;
}

#playlist {
  list-style: none;
  padding: 0;
}

#playlist li {
  cursor: pointer;
  margin-bottom: 2px;
  padding: 2px;
  background-color: #eee;
}
